apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: franchise-postgres
    labels:
        app: franchise-postgres
spec:
    serviceName: franchise-postgres
    replicas: 1
    selector:
        matchLabels:
            app: franchise-postgres
    template:
        metadata:
            labels:
                app: franchise-postgres
        spec:
            containers:
                - name: postgres
                  image: postgres:15-alpine
                  ports:
                      - containerPort: 5432
                  env:
                      - name: POSTGRES_USER
                        valueFrom:
                            secretKeyRef:
                                name: franchise-service-db-secret
                                key: POSTGRES_USER
                      - name: POSTGRES_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: franchise-service-db-secret
                                key: POSTGRES_PASSWORD
                      - name: POSTGRES_DB
                        valueFrom:
                            secretKeyRef:
                                name: franchise-service-db-secret
                                key: POSTGRES_DB
                      - name: PGDATA
                        value: /var/lib/postgresql/data/pgdata
                  volumeMounts:
                      - name: postgres-data
                        mountPath: /var/lib/postgresql/data
                  resources:
                      requests:
                          memory: "64Mi"
                          cpu: "50m"
                      limits:
                          memory: "128Mi"
                          cpu: "50m"
    volumeClaimTemplates:
        - metadata:
              name: postgres-data
          spec:
              accessModes: ["ReadWriteOnce"]
              resources:
                  requests:
                      storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
    name: franchise-postgres
spec:
    selector:
        app: franchise-postgres
    ports:
        - protocol: TCP
          port: 5432
          targetPort: 5432
